.col1, .col2, .col3, .cols {float:left}
.col1 {width:304px}
.col2 {width:632px}
.cols {width:268px}
/* page1 */
#page1 #logo_box{padding:48px 0 32px 0px}
#page1 header nav {top:72px}
#page1 .body3 {background:url(../images/bg_img.png) center top no-repeat;position:absolute;height:415px;width:373px;top:22px;left:50%;margin-left:127px;z-index:10}
#page1 .text1 {padding:199px 0 0 47px}
#page1 #icons {padding:42px 0 0 353px}
#page1 header {padding-bottom:183px}
#page1 .marg_top {margin-top:-150px}
/* page2 */
#page2 #logo_box{padding:48px 0 32px 0px}
#page2 header nav {top:72px}
#page2 .text1 {padding:199px 0 0 47px}
#page2 #icons {padding:42px 0 0 353px}
#page2 header {padding-bottom:183px}
#page2 .marg_top {margin-top:-150px}
#page2 .body3 {background:url(../images/bg_img4.png) center top no-repeat;position:absolute;height:415px;width:373px;top:22px;left:50%;margin-left:127px;z-index:10}
/* page3 */
#page3 #logo_box{padding:48px 0 32px 0px}
#page3 header nav {top:72px}
#page3 .text1 {padding:199px 0 0 47px}
#page3 #icons {padding:42px 0 0 353px}
#page3 header {padding-bottom:183px}
#page3 .marg_top {margin-top:-150px}
#page3 .body3 {background:url(../images/bg_img2.png) center top no-repeat;position:absolute;height:415px;width:373px;top:22px;left:50%;margin-left:127px;z-index:10}
/* page4 */
#page4 #logo_box{padding:48px 0 32px 0px}
#page4 header nav {top:72px}
#page4 .text1 {padding:199px 0 0 47px}
#page4 #icons {padding:42px 0 0 353px}
#page4 header {padding-bottom:183px}
#page4 .marg_top {margin-top:-150px}
#page4 .body3 {background:url(../images/bg_img3.png) center top no-repeat;position:absolute;height:415px;width:373px;top:22px;left:50%;margin-left:127px;z-index:10}
/* page5 */
#page5 #logo_box{padding:48px 0 32px 0px}
#page5 header nav {top:72px}
#page5 .text1 {padding:199px 0 0 47px}
#page5 #icons {padding:42px 0 0 353px}
#page5 header {padding-bottom:183px}
#page5 .marg_top {margin-top:-150px}
#page5 .body3 {background:url(../images/bg_img1.png) center top no-repeat;position:absolute;height:415px;width:373px;top:22px;left:50%;margin-left:127px;z-index:10}

#page5 .col1 .col2 {width:80px;letter-spacing:-1px}
#page5 .col1 .col3 {width:140px}
/* page6 */